
<h3>I'd like you to work on an application that works like Reddit or Digg. It need not be very complex, just something you can work on in your free time over a week. The user should be able to signup, login, submit a story and vote up on other stories, logout, etc. I would expect the application from you by next weekend. And most importantly, I want the application to be in Rails 3. Good luck, and let me know if you need any clarifications. </h3>
